.recommend_title{
    display: flex;
    justify-content: center;
    font-size: large;
    color: rgb(141, 95, 214);
    margin-top:15px;
    padding-bottom: 20px;
}
page{
    background: white;
}